body {

    background: url("background.png") repeat;
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 0;
    color: #555;
}

button #btn1{
    position: center;
}

h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

table,th,td {
    width: 580px;
    padding: 10px;
    background-color: #c5e7e0;

}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li#li04{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;
}

li#li05 {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;
}

li#li06{
    float: right;
}

li a:hover {
    background-color: #111111;
}



