body {
    background: url("dust_scratches.png") repeat;
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 0;
    color: #555;
}

button #btn1{
    position: center;
}

a.pri:hover { background: #c22 }

a.pri {
    background: #d33;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    text-decoration: none;
}

a.btnAdd{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    width: 50px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
a.btnAdd:hover { background: rgb(53, 167, 110); }
a.btnAdd:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.href {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: dodgerblue;
    box-shadow: 0 -3px #436aff inset;
    transition: 0.2s;
}

.href:hover {
    background: #436aff;
}

.href:active{
    background: #232aff;
    box-shadow: 0 3px #232aff inset;
}


h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

select{
    width: 180px;
}



table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 15px;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

tr:hover td {background: #e8edff;}


form input,
form select{
    display: block;
}

/*table,th,td {*/
    /*width: 580px;*/
    /*padding: 10px;*/
    /*background-color: #c5e7e0;*/

/*}*/

/*th {*/
    /*text-align: left;*/
    /*border-bottom: 1px solid;*/
/*}*/

/*td {*/
    /*padding: 10px;*/
/*}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li#li04{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;
}

li#li05 {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;
}

li#li06{
    float: right;
}

li a:hover {
    background-color: #111111;
}



