body {
    background: url("dust_scratches.png") repeat;
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 0;
    color: #555;
}

.divAddUser{
    margin: 0 auto 20px;
}

.inputAuth_lvl{
    margin-left: 7px;
    height: 20px;
}

.cl-effect a {
    padding: 8px 0;
}

.cl-effect-3 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0,0,0,0.1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

nav a{
    position: relative;
    /*display: inline-block;*/
    margin: 15px 25px;
    outline: none;
    color: royalblue;
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    font-weight: 100;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}


/*.parent {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*overflow: auto;*/
    /*border: 1px solid #e5e5e5;*/
/*}*/


/*.divAddOutgo{*/
    /*margin: 0 auto 20px;*/
/*}*/


.inputAdd{
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px 9px;
}

.inputAddCat{
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /*margin-bottom: 10px;*/
    padding: 7px 9px;
}

.submitAdd{
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /*margin-bottom: 5px;*/
}

.inputAcc{
    height: 25px;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 3px;
}

/*.inputLvl{*/
    /*width: max-content;*/
/*}*/

/*.divSubmit{*/
    /*position: relative;*/
/*}*/

/*button #btn1{*/
    /*position: center;*/
/*}*/

a.pri:hover { background: #c22 }

a.pri {
    background: #d33;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    text-decoration: none;
}

a.btnAdd{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    width: 50px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
a.btnAdd:hover { background: rgb(53, 167, 110); }
a.btnAdd:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.href {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: dodgerblue;
    box-shadow: 0 -3px #436aff inset;
    transition: 0.2s;
}

.href:hover {
    background: #436aff;
}

.href:active{
    background: #232aff;
    box-shadow: 0 3px #232aff inset;
}


h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

select{
    width: 180px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.projsel{
    width: 180px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 15px;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

tr:hover td {background: #e8edff;}

/*ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;   */
    /*background-color: #333333;*/
/*}*/

/*li {*/
    /*float: left;*/
/*}*/

/*li a {*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 16px;*/
    /*text-decoration: none;*/
/*}*/

/*li#li04{*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 16px;*/
    /*text-decoration: none;*/
    /*float: right;*/
/*}*/

/*li#li05 {*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 16px;*/
    /*text-decoration: none;*/
    /*float: right;*/
/*}*/

/*li#li06{*/
    /*float: right;*/
/*}*/

/*li a:hover {*/
    /*background-color: #111111;*/
/*}*/



